---
import Layout from "../../layouts/Layout.astro";

const { collection, slug } = Astro.params;

import { getEntryBySlug } from "astro:content";

const response = await getEntryBySlug(collection, slug);

if (!response) {
	return Astro.redirect("/404");
}

const { Content, remarkPluginFrontmatter } = await response.render();
console.log(response);
---

<Layout
	title={response.data.title}
	articlePublished={new Date(response.data.date).toLocaleDateString("en-GB")}
	description={response.data.description}
	tags={response.data.tags}
	imageUrl={response.data.image}
>
	<article class="flex flex-col gap-8">
		<div class="flex flex-col gap-2">
			<h1 class="font-black sm:text-7xl break-words text-4xl">
				{response.data.title}
			</h1>
			<p class="text-gray-500 text-xl dark:text-zinc-300">
				{response.data.subtitle}
			</p>
			<p class="text-gray-500 text-sm dark:text-zinc-300">
				{new Date(response.data.date).toLocaleDateString("en-GB")}
			</p>
			<div class="dark:bg-gray-500 bg-gray-300 h-0.5 w-full"></div>
		</div>
		<div class="type">
			<article>
				<Content />
			</article>
		</div>
	</article>
</Layout>
